<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /consorti_api/
    
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]
    
    RewriteRule ^ index.php [QSA,L]
</IfModule>